<div class="bckg">
  <div class='container'>
    <h1>{{title}}</h1>
    <div class='row'>
      <div class="col-md-4 col-sm-2 col-xs-2">
        <img src="images/album2.jpg" alt="by the Monkees" class="imgmusic"><br><br>
        <p>Take the Last Train to Clarksville Music</p>
        <audio src="audio/Clarksville.mp3" autobuffer autoloop loop controls></audio>
        <br>
        <p>  
          <a href="http://www.musicroom.com/se/id_no/0518276/details.html?kbid=1582&gclid=Cj0KEQiAkO7CBRDeqJ_ahuiPrtEBEiQAbYupJQWhzxdkflBKEWbmJe7X9eHmUylj9etbpv9CsUyLHPoaAttB8P8HAQ" target="_blank">Buy this song</a>
        </p>
        <img src="images/album2.jpg" alt="by the Monkees" class="imgmusic"><br><br>
        <p>Day dream Believer Music</p>
        <audio src="audio/DaydreamBeliever.mp3" autobuffer autoloop loop controls></audio>
        <p>
          <a href="http://www.musicroom.com/se/id_no/0568636/details.html?kbid=1582&gclid=CjwKEAiAs_PCBRD5nIun9cyu01kSJAA-WD-r1KhApktfQv94b6_0t4onREFFVNnsT1eAkwKffDmOuRoC43Pw_wcB" target="_blank">Buy this song</a>
        </p>
      </div>
      <br>
      <div class="col-md-4 col-sm-2 col-xs-2">
        <img src="images/album2.jpg" alt="by the Monkees" class="imgmusic"><br><br>
        <p>Im a Believer Music</p>
        <audio src="audio/ImABeliever.mp3" autobuffer autoloop loop controls></audio>
        <p>  
          <a href="http://www.musicroom.com/se/id_no/0657812/details.html?kbid=1582&gclid=CjwKEAiAs_PCBRD5nIun9cyu01kSJAA-WD-r6Wli8mBgihFX9sX1C0Myc3dhekrj2TFyEzDYOcqMWBoCH-zw_wcB" target="_blank">Buy this song</a>
        </p>
        <img src="images/album2.jpg" alt="by the Monkees" class="imgmusic"><br><br>
        <p>Stepping Stone Music</p>
        <audio src="audio/SteppingStone.mp3" autobuffer autoloop loop controls></audio>
        <p>
          <a href="http://www.musicroom.com/se/id_no/0603271/details.html?kbid=1582&gclid=CjwKEAiAs_PCBRD5nIun9cyu01kSJAA-WD-r2M9ibpUBgI6yYd9xbebiiN1jM7qX8-UFlLH7VyXZ1BoCBKfw_wcB" target="_blank">Buy this song</a>
        </p>
      </div>
    </div>
  </div>
</div>
<footer>
  <p class="footerp">Created by Ryan Ware with the help of Code Institute</p>
</footer>