<div class="container">
		
	<div class="row">
		<h1>Booked Shows</h1>
		<p>See our calendar and send us a message to possibly schedule a show in your area!</p>

<iframe src="https://calendar.google.com/calendar/embed?src=ryan.ware1987%40gmail.com&ctz=Europe/London" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
	
	<hr>
	<div class="row">
		<h1>Contact Us!</h1>
		<h3>Send us a email.</h3>
		<form action="mailto:organiser@monkees.com" method="post" enctype="text/plain">
			Name: <input type="text" name="name" placeholder="name"><br>
			E-mail: <input type="text" name="email" placeholder="email" /><br>
			Start Date: <input type="text" name="start_date" placeholder="dd/mm/yyyy"><br>
			End Date: <input type="text" name="end_date" placeholder="dd/mm/yyyy"><br>
			Location: <input type="text" name="location"><br><br>
			<input type="submit" value="Send"> 
			<input type="reset" value="Reset">
				 
		</form>
	</div>
</div>

<footer>
	<p>Created by Ryan Ware with the help of Code Institute</p>
</footer>